---
layout: archive
title: "Research Interests"
permalink: /portfolio/
author_profile: true
---
<div class="announcement">
    📅 Coming Soon
    <hr>
    <div class="date"></div>
    The narrative continues. ✨🌟 Your patience is greatly appreciated!
</div>

#{% include base_path %}

#{% for post in site.portfolio %}
  #{% include archive-single.html %}
#{% endfor %}

<div class="announcement">
    📅 Coming Soon
    <hr>
    <div class="date"></div>
    The narrative continues. ✨🌟 Your patience is greatly appreciated!
</div>