{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
        <!-- 在这里添加主题切换按钮 -->
        <div class="theme-toggle">
          <button id="light-toggle-dark">Dark Theme</button>
          <button id="light-toggle-light">Light Theme</button>
        </div>
      </nav>
    </div>
  </div>
</div>

<script>
  function toggleTheme(theme) {
  document.documentElement.setAttribute('data-theme', theme);
  localStorage.setItem('theme', theme); // 保存用户选择的主题到本地存储
  }

  // 切换到深色主题
  document.getElementById('light-toggle-dark').addEventListener('click', function() {
    toggleTheme('dark');
  });

  // 切换到浅色主题
  document.getElementById('light-toggle-light').addEventListener('click', function() {
    toggleTheme('light');
  });

  // 页面加载时，尝试从本地存储中恢复主题
  document.addEventListener('DOMContentLoaded', function() {
    var savedTheme = localStorage.getItem('theme');
    if (savedTheme) {
      toggleTheme(savedTheme);
    }
  });

  </script>